body {
    background-color: rgb(246, 219, 236); 
    color: rgb(30, 2, 39); 
    font-family: Arial; 
    margin: 0px"
}

header {
    background-color: rgb(64, 1, 45); 
    color:rgb(247, 78, 174); 
    padding: 20px; 
    font-size: 15pt;
}

main {
    background-color: rgb(246, 219, 236); 
    color:rgb(30, 2, 39); 
    font-family: Arial;
    margin:0px
}
footer {
    background-color: rgb(64, 1, 45); 
    color:rgb(247, 78, 174); 
    padding: 20px; font-size: 15pt; 
    font-style: italic; 
    text-align: right
    }
a {
    color: rgb(172, 1, 90);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 149);
    text-decoration: underline;
    text-shadow: 2cm;
}